body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, minmax(235px, 1fr));
  margin: 40px 0 80px;
  grid-gap: 20px;
}

.container__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  cursor: pointer;
}

.container__image {
  position: relative;
  object-fit: cover;
  width: 20%;
  transition: transform 0.2s ease-in-out;
}

.container__image_gray {
  opacity: .7;
}

.container__image:hover {
  transform: scale(1.1)
}

.container__phrase {
  color: rgb(17, 17, 17);
  text-align: center;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  border-top: 1px solid rgb(17, 17, 17);
  min-height: 60px;
  padding: 10px 60px;
}

.footer__link {
  text-decoration: none;
  color: rgb(7, 92, 28);
}

.footer__link:hover {
  color: rgb(35, 153, 64);
}

.footer__link:active {
  color: rgb(35, 153, 64);
}

.footer__link:focus {
  outline: none;
}

@media screen and (max-width:1024px) {
  .container {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
  .container__phrase {
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  .container {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media screen and (max-width:550px) {
  .container {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }
  .container__phrase {
    font-size: 14px;
  }
}